<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>PDI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='estilo.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='realmadrid.ico') }}">
  </head>
  <body>
    <div align="center">
      <h1>Bienvenido al Portal de Deportes de Invierno</h1>
      <br>
     <img align=center src="{{ url_for('static', filename='portada.jpeg') }}" >
     <h2> Haz click <a href="busqueda">aquí</a> para ir a la página de búsqueda de equipo</h2>
    </div>
  </body>
</html>
